@page "/"

<div class="col-md-8 mx-auto py-2 py-lg-5 text-center landing">
    <div>
        <h1>Build browser extensions easily with Blazor</h1>
        <p>Create a browser extension within the .Net ecosystem, use NuGet packages, interop with JavaScript libraries, all made possible with Blazor WebAssembly.</p>
        <p>
            <a href="quick-start" class="btn btn-lg btn-primary text-center">
                <span class="fw-semibold mx-3">Get started</span><i class="fa-solid fa-bolt"></i>
            </a>
        </p>
    </div>
    <div>
        <p>
            <a href="https://github.com/mingyaulee/Blazor.BrowserExtension/releases/latest" target="_blank">
                <img src="https://img.shields.io/nuget/v/Blazor.BrowserExtension?style=for-the-badge&color=blue&label=" width="80" />
            </a>
        </p>
        <p>
            <a class="link-secondary" href="https://github.com/mingyaulee/Blazor.BrowserExtension/releases" target="_blank">
                All releases
            </a>
        </p>
    </div>
</div>

<div class="col-md-10 mx-auto py-2 py-lg-5 text-center">
    <h2>Demo</h2>
    <img class="img-fluid img-thumbnail" src="Demo.gif" />
</div>
