name: PR Build

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  buildAndTestPR:
    runs-on: windows-latest
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Debug
    - name: Install Playwright Browsers
      shell: powershell
      run: .\test\Blazor.BrowserExtension.IntegrationTestRunner\bin\Debug\net9.0\playwright.ps1 install --with-deps
    - name: Run tests
      run: dotnet test --no-restore --no-build --configuration Debug
