name: Release

on:
  release:
    types: [ published ]

env:
  DOTNET_VERSION: '10.0'

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}.x
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: 6.x
    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v4.2.0
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release -p:Version=${{ steps.gitversion.outputs.MajorMinorPatch }}
    - name: Pack
      run: dotnet pack --no-restore --no-build --configuration Release -p:Version=${{ steps.gitversion.outputs.MajorMinorPatch }}
    - name: Push generated package to NuGet
      run: dotnet nuget push ./PackageOutput/*.nupkg --api-key ${NUGET_AUTH_TOKEN} --source https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_KEY }}
